body {
  color: #fff;
  background: #c0392b;
}

.form-control {
  min-height: 41px;
  background: #f2f2f2;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: transparent;
  padding: 0 40px 0 20px;
  border-radius: 2px;
}

.form-control:focus {
  background: #e2e2e2;
}

.btn {
  border-radius: 2px;
}

.input-wrap {
  position: relative;
}

.input-wrap .toggle-pass {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.input-wrap-pass-confirmation {
  position: relative;
}

.input-wrap-pass-confirmation .toggle-pass-confirmation {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.login-form {
  width: 450px;
  margin: 200px auto;
  text-align: center;
}

.login-form h2 {
  margin: 10px 0 25px;
}

.login-form form {
  color: #7a7a7a;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #fff;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.login-form .btn {
  font-size: 16px;
  font-weight: bold;
  background: #3598dc;
  border: none;
  outline: none !important;
}

.login-form .btn:hover, .login-form .btn:focus {
  background: #2389cd;
}

.login-form a {
  color: #fff;
  text-decoration: underline;
}

.login-form a:hover {
  text-decoration: none;
}

.login-form form a {
  color: #7a7a7a;
  text-decoration: none;
}

.login-form form a:hover {
  text-decoration: underline;
}

.errmsg {
  color: #c0392b;
}
