.navbar .avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid #cccccc;
  margin-right: 10px;
}

.navbar .dropdown-menu i {
  font-size: 16px;
  min-width: 10px;
}

.navbar .dropdown.open > a {
  background: none !important;
}

.navbar .dropdown-menu {
  border-radius: 9px;
  border-color: #e5e5e5;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.navbar .dropdown-menu li a {
  color: #777;
  padding: 10px 20px;
  line-height: normal;
  text-decoration: none;
}

.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:active {
  color: #333;
  text-decoration: none;
}

.navbar .dropdown-menu .material-icons {
  font-size: 21px;
  line-height: 16px;
  vertical-align: middle;
  margin-top: -2px;
}
