@charset "UTF-8";
.navbar .avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid #cccccc;
  margin-right: 10px;
}

.navbar .dropdown-menu i {
  font-size: 16px;
  min-width: 10px;
}

.navbar .dropdown.open > a {
  background: none !important;
}

.navbar .dropdown-menu {
  border-radius: 9px;
  border-color: #e5e5e5;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.navbar .dropdown-menu li a {
  color: #777;
  padding: 10px 20px;
  line-height: normal;
  text-decoration: none;
}

.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:active {
  color: #333;
  text-decoration: none;
}

.navbar .dropdown-menu .material-icons {
  font-size: 21px;
  line-height: 16px;
  vertical-align: middle;
  margin-top: -2px;
}

#form {
  position: relative;
  max-width: 400px;
}

#sbox {
  width: 300px;
  height: 50px;
  padding: 0 40px 0 20px;
  border-radius: 10px;
  outline: 0;
  background: white;
}

#sbtn {
  position: absolute;
  height: 50px;
  left: 260px;
  /*アイコン左右の位置調整*/
  top: 0;
  background: none;
  color: #666;
  border: none;
  font-size: 20px;
  /*アイコンサイズ*/
}

#sbtn:hover {
  color: #7fbfff;
}
