@charset "UTF-8";
body {
  background-color: #57606f;
}

.post_container {
  width: 550px;
  margin: 30px auto;
  text-align: center;
}

.post_container h2 {
  margin: 10px 0 25px;
}

.post_container form {
  color: #7a7a7a;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #fff;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.post_container .btn {
  font-size: 16px;
  font-weight: bold;
  background: #3598dc;
  border: none;
  outline: none !important;
}

.post_container .btn:hover, .post_container .btn:focus {
  background: #2389cd;
}

.post_container .form-control {
  min-height: 41px;
  background: #f2f2f2;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: transparent;
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2px;
}

.post_container .form-control:focus {
  background: #e2e2e2;
}

.text-primary a:hover {
  text-decoration: none;
}

.posts_container {
  width: 550px;
  margin: 30px auto;
  text-align: center;
  color: #7a7a7a;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #f1f2f6;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.posts_container .post_user_box {
  height: 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.posts_container .post_user_box .post_user_icon_block {
  height: 45px;
  width: 45px;
  margin-right: 10px;
}

.posts_container .post_user_box .post_user_icon_block img {
  width: 100%;
  border-radius: 50%;
  border: 2px solid #cccccc;
}

.posts_container .post_user_box .post_user_name_block #post_user_name {
  margin-top: 10px;
  font-weight: bolder;
  font-size: 20px;
  line-height: 30px;
  font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  display: inline;
}

.posts_container .post_user_box .post_user_name_block #post_user_id {
  font-weight: bolder;
  font-size: 12px;
  font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  text-align: left;
}

.posts_container .post_user_box .post_user_followbtn_block .post_follow_button {
  margin-top: 10px;
  margin-left: 30px;
  border: none;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #55efc4;
  background-color: transparent;
  font-size: 1em;
  line-height: 25px;
  font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.posts_container .post_user_box .post_user_followbtn_block .post_follow_button:focus {
  outline: 0;
  color: rgba(85, 239, 196, 0.6);
}

.posts_container .posts_body {
  padding: 15px;
  text-align: left;
}
