body {
  background-color: #57606f;
}
.post_container {
  width: 550px;
  margin: 30px auto;
  text-align: center;
  .post_user_icon_block {
    height: 60px;
    width: 60px;
    margin: auto;
    img {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      border: 2px solid #cccccc;
    }
  }
  form {
    height: 100%;
    display: flex;
    color: #7a7a7a;
    border-radius: 10px;
    margin-bottom: 15px;
    background: #fff;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
    padding: 30px;
  }
  .form-control {
    min-height: 100px;
    box-shadow: none !important;
    border: transparent;
    display: flex;
    border-radius: 2px;
  }
  .post_button {
    border: none;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: #55efc4;
    margin: auto;
    background-color: transparent;
    font-size: 1em;
    line-height: 25px;
    font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
      "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
      "MS PGothic", sans-serif;
    &:focus {
      outline: 0;
      color: rgba($color: #55efc4, $alpha: 0.6);
    }
  }
  textarea {
    outline: none;
    width: 60%;
    height: 80%;
    margin: auto;
    resize: none;
    border: none;
    font-size: 13px;
    line-height: 25px;
    font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
      "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
      "MS PGothic", sans-serif;
  }
}
.text-primary a {
  &:hover {
    text-decoration: none;
  }
}
.posts_container {
  width: 550px;
  margin: 30px auto;
  text-align: center;
  color: #7a7a7a;
  border-radius: 10px;
  margin-bottom: 15px;
  background: white;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
  padding: 30px;
  position: relative;
  &:hover {
    opacity: 0.9;
  }
  .link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .profile_link {
    text-decoration: none;
    color: #7a7a7a;
    &:hover {
      opacity: 0.8;
    }
  }
  .post_user_box {
    height: 5%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    .post_user_icon_block {
      height: 45px;
      width: 45px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid #cccccc;
      }
      margin-right: 10px;
    }
    .post_user_name_block {
      #post_user_name {
        margin-top: 10px;
        font-weight: bolder;
        font-size: 20px;
        line-height: 30px;
        font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
          "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
          "MS PGothic", sans-serif;
        display: inline;
      }
      #post_user_id {
        font-weight: bolder;
        font-size: 12px;
        font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
          "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
          "MS PGothic", sans-serif;
        text-align: left;
      }
    }
    .post_user_followbtn_block {
      .post_follow_button {
        margin-left: 30px;
        border: none;
        display: inline-block;
        font-weight: bold;
        text-decoration: none;
        color: #55efc4;
        background-color: transparent;
        font-size: 1em;
        line-height: 25px;
        padding: 10px;
        font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
          "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
          "MS PGothic", sans-serif;
        &:focus {
          outline: 0;
          color: rgba($color: #55efc4, $alpha: 0.6);
        }
      }
      .post_followed_button {
        margin-left: 30px;
        border: none;
        display: inline-block;
        font-weight: bold;
        text-decoration: none;
        color: #546de5;
        background-color: transparent;
        font-size: 1em;
        line-height: 25px;
        padding: 10px;
        font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
          "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
          "MS PGothic", sans-serif;
        &:hover {
          transform: scale(1.1);
          color: #c44569;
          content: "フォロー解除";
        }
        &:focus {
          outline: 0;
          color: rgba($color: #55efc4, $alpha: 0.6);
        }
      }
    }
  }
  #post_delete {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 1;
    color: #ff7979;
    &:hover {
      color: #d63031;
    }
  }
  .posts_body {
    padding: 15px;
    text-align: left;
    margin-bottom: 30px;
  }
  .posts_footer {
    margin: 10px;
    position: relative;
    .posts_spotify_required{
      position: absolute;
      left: 0;
      bottom: 0;
      color: #d63031;
    }
    .posts_date {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
.modal-content {
  border-radius: 10px;
  .modal-header {
    border: none;
  }
  .modal-footer {
    border: none;
  }
}
